<div>
    <button type="button" (click)="click()">Fai qualcosa</button>
</div>
<div>
    <button type="button" (click)="click2()">Smetti</button>
</div>
<div>
    <button type="button" (click)="click3()">Fai qualcosa sincrono</button>
</div>
<div>
    <button type="button" (click)="click4()">Fai qualcosa misto</button>
</div>
<div>
    <button type="button" (click)="click5()">Subjects</button>
</div>
<div>
    <button id="fastClick" type="button">Clicca</button>
    <strong>{{clickCount}}</strong>
</div>
<div>
    <button type="button" (click)="startNumberGeneration()">Inizia generazione numeri casuali</button>
    <strong>{{numOk}}</strong>
</div>
<div>
    <button type="button" (click)="fakeHttp1()">fake http</button>
    <div>
        {{time | async}}
    </div>
</div>